Document Zone file import/export

## Documentation

https://github.com/zeit/docs/blame/master/pages/docs/api/v2/api-docs-mdx/endpoints/dns.mdx#L14

**Section** : https://zeit.co/docs/api/#endpoints/dns/list-all-the-dns-records-of-a-domain

## Import

```
% curl -H "Authorization: Bearer $TOKEN" -H "Content-Type: text/dns" https://api.zeit.co/v2/domains/mynowdomain.xyz/records  -X PUT --data-binary @mynowdomain.xyz
```

### Export

```
% curl -H "Authorization: Bearer $TOKEN" -H "Accept: text/dns" https://api.zeit.co/v2/domains/mynowdomain.xyz/records
; Zone: mynowdomain.xyz.

$ORIGIN mynowdomain.xyz.
$TTL 60

; SOA Record
mynowdomain.xyz.                        IN      SOA     mynowdomain.xyz.        team.zeit.co.   (
2019032117       ;serial
7200     ;refresh
900      ;retry
1209600  ;expire
60       ;minimum ttl
)

; NS Records
@       IN      NS      a.zeit-world.net.
@       IN      NS      b.zeit-world.co.uk.
@       IN      NS      d.zeit-world.org.
@       IN      NS      f.zeit-world.com.

; CAA Records
@       IN      CAA     0       issue   "letsencrypt.org"

; MX Records
mynowdomain.xyz.        IN      MX      10      mail.zeit.co.

; A Records
ip.mynowdomain.xyz.     IN      A       192.0.2.42
ip.mynowdomain.xyz.     IN      A       192.0.2.43

; AAAA Records
ip.mynowdomain.xyz.     IN      AAAA    2001:DB8::42
ip.mynowdomain.xyz.     IN      AAAA    2001:DB8::43

; ALIAS Records
; @     IN      ALIAS   alias.zeit.co.

; CNAME Records
*.mynowdomain.xyz.      IN      CNAME   alias.zeit.co.
mobile.mynowdomain.xyz. IN      CNAME   www.mynowdomain.xyz.
www.mynowdomain.xyz.    IN      CNAME   mynowdomain.xyz.

; PTR Records

; TXT Records
host.mynowdomain.xyz.   IN      TXT     "printer=lpr5"

; SRV Records
_sip._tcp.mynowdomain.xyz.      IN      SRV     0       5       5060    ip.mynowdomain.xyz.

; SPF Records
```

## Additional Information

### Import

`ALIAS` records are not part of the RFCs defining the file format (RFC 1035 (section 5) and RFC 1034 (section 3.6.1)) but Now supports them with a special notation that looks like a comment to other parsers following the RFC.

```
; @     IN      ALIAS   alias.zeit.co.
```

The errors concerning the records in the file might be a bit complex to follow, as the API cannot currently refer to the line number in the file, instead the error responses are similar to those returned by the `POST` method. There are also some errors specific to the Zone file format, e.g. invalid ORIGIN.

Errors specific to the import functionality:

- `'conflicting_records'`: two records can't coexist, e.g. A record and a CNAME record on the same name
- `'invalid_domain'`: Invalid or mismatching ORIGIN or SOA record